<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smallClassMapper">

	<select id="selectSmallClasses" parameterType="map" resultType="egovframework.base.model.sop.category.SmallClass">
		Select * from so_ctgry_sclas
		<if test="customCondition != null and customCondition != ''">
			WHERE ${customCondition}
		</if>
		<if test="orderBy != null and orderBy != ''">
		ORDER BY ${orderBy}
		</if>
	</select>

	<insert id="insertSmallClass" parameterType="egovframework.base.model.sop.category.SmallClass" useGeneratedKeys="true" keyProperty="sclas_sn">
		INSERT INTO so_ctgry_sclas (sclas_name, mclas_sn, ver_sn, nor_yn, descp)
		VALUES (#{sclas_name}, #{mclas_sn}, #{ver_sn}, #{nor_yn}, #{descp})
	</insert>

	<insert id="insertSmallClasses" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="sclas_sn">
		INSERT INTO so_ctgry_sclas (sclas_name, mclas_sn, ver_sn, nor_yn, descp)
		VALUES
		<foreach collection="list" item="smallClass" separator=",">
			(
				(#{smallClass.sclas_name}, #{smallClass.mclas_sn}, #{smallClass.ver_sn}, #{smallClass.nor_yn}, #{smallClass.descp})
			)
		</foreach>
	</insert>

	<update id="updateSmallClass" parameterType="egovframework.base.model.sop.category.SmallClass">
		UPDATE so_ctgry_sclas
		SET sclas_name = #{sclas_name}, mclas_sn = #{mclas_sn}, ver_sn = #{ver_sn}, nor_yn = #{nor_yn}, descp = #{descp}
		<where>
			sclas_sn = #{sclas_sn}
		</where>
	</update>

	<update id="updateSmallClassByCondition" parameterType="map">
		UPDATE so_ctgry_sclas
		SET ${setStatement}
		<if test="customCondition != null and customCondition != ''">
			WHERE ${customCondition}
		</if>
	</update>

	<delete id="deleteSmallClass" parameterType="egovframework.base.model.sop.category.SmallClass">
		DELETE FROM so_ctgry_sclas
		<where>
			sclas_sn = #{sclas_sn}
		</where>
	</delete>

	<delete id="deleteSmallClassByCondition" parameterType="map">
		DELETE FROM so_ctgry_sclas
		<if test="customCondition != null and customCondition != ''">
			WHERE ${customCondition}
		</if>
	</delete>

</mapper>
