[submodule "src/SOP8/Base"]
	path = src/SOP8/Base
	url = https://une_jiwoong@bitbucket.org/unecorp/sop8_base.git
[submodule "src/SOP8/경기융합타운"]
	path = src/SOP8/경기융합타운
	url = https://une_jiwoong@bitbucket.org/unecorp/sop8_gg.git
[submodule "src/SOP8/부산"]
	path = src/SOP8/부산
	url = https://une_jiwoong@bitbucket.org/unecorp/sop8_busan.git
[submodule "src/DCOP/LGUPlus/Pilot"]
	path = src/DCOP/LGUPlus/Pilot
	url = https://une_jiwoong@bitbucket.org/unecorp/dcop-lgu-pilot.git
[submodule "src/SOP8/포항"]
	path = src/SOP8/포항
	url = https://une_jiwoong@bitbucket.org/unecorp/sop8_pohang.git
[submodule "src/SOP8/Egovframework/Base"]
	path = src/SOP8/Egovframework/Base
	url = https://une_jiwoong@bitbucket.org/unecorp/wsop_base_egov.git
[submodule "src/SOP8/Nipa.솔브레인"]
	path = src/SOP8/Nipa.솔브레인
	url = https://une_jiwoong@bitbucket.org/unecorp/sop8_nipa_soulbrain.git
[submodule "src/SOP8/금융결제원"]
	path = src/SOP8/금융결제원
	url = https://une_jiwoong@bitbucket.org/unecorp/kftc.git
[submodule "src/SOP8/AITalk"]
	path = src/SOP8/AITalk
	url = https://une_jiwoong@bitbucket.org/unecorp/sop8_ai_talk.git
[submodule "src/SOP8/광양"]
	path = src/SOP8/광양
	url = https://une_jiwoong@bitbucket.org/unecorp/gwangyang.git
[submodule "src/AI/Code-Agent"]
	path = src/AI/Code-Agent
	url = https://une_jiwoong@bitbucket.org/unecorp/code-agent.git
