<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIP" value="127.0.0.1" />
		<add key="Port" value="1234" />
		<add key="MuxType" value="2" />
		<add key="ServerType" value="화재" />
		<!-- 전력 -->
		<add key="Url2" value="https://localhost:44380" />
		<add key="ZoneNos2" value="226, 227, 228, 229" />
		<!-- 초순수 -->
		<add key="Url3" value="https://localhost:44381" />
		<add key="ZoneNos3" value="71, 72, 226, 227, 228, 229" />
	</appSettings>
</configuration>