<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Sop7DbType" value="0"/>
		<add key="Sop7DbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="Sop7DbID" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
		<add key="Sop7DbPw" value="SezOwMM9A2mIbUk5DCW/eQ=="/>
		<add key="Sop8DbType" value="0"/>
		<add key="Sop8DbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="Sop8DbID" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
		<add key="Sop8DbPw" value="SezOwMM9A2mIbUk5DCW/eQ=="/>
	</appSettings>
</configuration>