<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIP" value="127.0.0.1" />
		<add key="DBName" value="WSOP_120" />
		<add key="DBID" value="sa" />
		<add key="DBPW" value="9449966Ab" />

		<add key="ServerPath" value="C:\unesolution_dev1\src\SOP8\Kftc\WebSOPApp\WebSOPApp\ClientApp\public\resource\image\parking" />
	</appSettings>
</configuration>