<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbHost" value="AwVB0IrUXAghp5PlaWuqWg=="/>
		<add key="dbType" value="0"/>
		<add key="dbId" value="GUk6cJACqVBoIFh7ny7mqQ=="/>
		<add key="dbPw" value="SezOwMM9A2mIbUk5DCW/eQ=="/>
		<add key="dbName" value="DCOP_1"/>
	</appSettings>
</configuration>