@charset "utf-8";
@import url('content.module.css');

.floatR{float:right}
.onGoingSopImg {position: relative;top: -40px; right: -8px;width: 7px;height: 7px;}
.flexBox { display:flex; justify-content:center; }
