<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="HrDatabaseName" value="Soulbrain_HR"/>
        <add key="HrDatabaseHost" value="127.0.0.1"/>
        <add key="HrDatabaseId" value="sa"/>
        <add key="HrDatabasePw" value="9449966Ab"/>
    </appSettings>
</configuration>