<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbType" value="0" />
		<add key="DbHost" value="127.0.0.1" />
		<add key="DbName" value="WSOP_110" />
		<add key="DbId" value="GUk6cJACqVBoIFh7ny7mqQ==" />
		<add key="DbPw" value="SezOwMM9A2mIbUk5DCW/eQ==" />
		<add key="SOPWebServerURL" value="https://localhost:44379" />
		<add key="LogFolder" value="D:/UnE/Log" />
		<add key="SiteNo" value="110" />
	</appSettings>
</configuration>