<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ID" value="user" />
		<add key="Password" value="soulbrain1@" />
		<add key="10Min" value="\\192.168.7.76\SebineTech\WXT530(S)\Minute_10\Minute_10.log" />
		<add key="1Min" value="\\192.168.7.76\SebineTech\WXT530(S)\Minute_1\Minute_1.log" />
		<add key="10Sec" value="\\192.168.7.76\SebineTech\WXT530(S)\Second_10\Second_10.log" />
		<add key="WeatherSiteNo" value="1" />
		<add key="cities" value="공주(세종)" />
		<add key="region1" value="133"/>
	</appSettings>
</configuration>