<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="customSettings" type="SVMSServer.Datas.CustomSettingsSection, SVMSServer" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<customSettings>
		<Site>
			<add key="No" value="110" />
			<add key="DbName" value="WSOP_110" />
			<add key="DbType" value="0" />
			<add key="DbHost" value="j4mq8ATXl4fvkD3TDPliXg==" />
			<add key="DbId" value="GUk6cJACqVBoIFh7ny7mqQ==" />
			<add key="DbPw" value="SezOwMM9A2mIbUk5DCW/eQ==" />

			<add key="DbName_Power" value="WSOP_110_Power" />
			<add key="DbHost_Power" value="j4mq8ATXl4fvkD3TDPliXg==" />
			<add key="DbId_Power" value="GUk6cJACqVBoIFh7ny7mqQ==" />
			<add key="DbPw_Power" value="SezOwMM9A2mIbUk5DCW/eQ==" />

			<add key="DbName_Facility" value="WSOP_110_Facility" />
			<add key="DbHost_Facility" value="j4mq8ATXl4fvkD3TDPliXg==" />
			<add key="DbId_Facility" value="GUk6cJACqVBoIFh7ny7mqQ==" />
			<add key="DbPw_Facility" value="SezOwMM9A2mIbUk5DCW/eQ==" />
		</Site>
		<SVMS>
			<add key="IP" value="192.168.254.10" />
			<add key="Port" value="8020" />
			<add key="ID" value="root" />
			<add key="Password" value="root@passwd1!" />
			<add key="WebRTC_URL" value="http://192.168.254.65:8083/stream/player/" />
			<add key="WebRTC_Name" value="RTSPtoWebRTC" />
			<add key="WebRTC_Path" value="C:\UnE\RTSPtoWebRTC\RTSPtoWebRTC.exe" />
			<add key="WebRTC_Config" value="C:\UnE\RTSPtoWebRTC\config.json" />
			<add key="go2rtc_URL" value="http://192.168.254.65:1984/stream.html?src=" />
			<add key="go2rtc_Name" value="go2rtc" />
			<add key="go2rtc_Path" value="C:\UnE\go2rtc\go2rtc.exe" />
			<add key="go2rtc_Config" value="C:\UnE\go2rtc\go2rtc.yaml" />
		</SVMS>
	</customSettings>
</configuration>
