<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SvmsEventAutoCloseSeconds" value="15" />
		<!-- 전력 -->
		<add key="Url2" value="https://localhost:44380" />
		<add key="ZoneNos2" value="226, 227, 228, 229" />
		<!-- 초순수 -->
		<add key="Url3" value="https://localhost:44381" />
		<add key="ZoneNos3" value="71, 72, 226, 227, 228, 229" />
	</appSettings>
</configuration>