<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="transmissionMapper">

	<select id="selectTransmissions" parameterType="map" resultType="egovframework.base.model.sop.component.Transmission">
		Select * from so_compn_trnsmis
		<if test="customCondition != null and customCondition != ''">
			WHERE ${customCondition}
		</if>
		<if test="orderBy != null and orderBy != ''">
		ORDER BY ${orderBy}
		</if>
	</select>

	<insert id="insertTransmission" parameterType="egovframework.base.model.sop.component.Transmission">
		INSERT INTO so_compn_trnsmis (compn_sn, title, sms_yn, email_yn, brdcst_yn, mssage, leadr_prvuse_yn, atmc_execut_yn, siren_yn, execut_no)
		VALUES (#{compn_sn}, #{title}, #{sms_yn}, #{email_yn}, #{brdcst_yn}, #{mssage}, #{leadr_prvuse_yn}, #{atmc_execut_yn}, #{siren_yn}, #{execut_no})
	</insert>

	<insert id="insertTransmissions" parameterType="java.util.List">
		INSERT INTO so_compn_trnsmis (compn_sn, title, sms_yn, email_yn, brdcst_yn, mssage, leadr_prvuse_yn, atmc_execut_yn, siren_yn, execut_no)
		VALUES
		<foreach collection="list" item="transmission" separator=",">
			(
				(#{transmission.compn_sn}, #{transmission.title}, #{transmission.sms_yn}, #{transmission.email_yn}, #{transmission.brdcst_yn}, #{transmission.mssage}, #{transmission.leadr_prvuse_yn}, #{transmission.atmc_execut_yn}, #{transmission.siren_yn}, #{transmission.execut_no})
			)
		</foreach>
	</insert>

	<update id="updateTransmission" parameterType="egovframework.base.model.sop.component.Transmission">
		UPDATE so_compn_trnsmis
		SET title = #{title}, sms_yn = #{sms_yn}, email_yn = #{email_yn}, brdcst_yn = #{brdcst_yn}, mssage = #{mssage}, leadr_prvuse_yn = #{leadr_prvuse_yn}, atmc_execut_yn = #{atmc_execut_yn}, siren_yn = #{siren_yn}, execut_no = #{execut_no}
		<where>
			compn_sn = #{compn_sn}
		</where>
	</update>

	<update id="updateTransmissionByCondition" parameterType="map">
		UPDATE so_compn_trnsmis
		SET ${setStatement}
		<if test="customCondition != null and customCondition != ''">
			WHERE ${customCondition}
		</if>
	</update>

	<delete id="deleteTransmission" parameterType="egovframework.base.model.sop.component.Transmission">
		DELETE FROM so_compn_trnsmis
		<where>
			compn_sn = #{compn_sn}
		</where>
	</delete>

	<delete id="deleteTransmissionByCondition" parameterType="map">
		DELETE FROM so_compn_trnsmis
		<if test="customCondition != null and customCondition != ''">
			WHERE ${customCondition}
		</if>
	</delete>

</mapper>
